* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;background-color: #000000;

}

/* por enquanto as opçoes contato e serviços estao suspensas     */
#serviços {
    box-shadow: 5px 5px 0px 5px #000000;
    position: relative;
    left: 1040px;
    text-shadow: none;
    letter-spacing: 3px;
    border-radius: 3px;
}

#serviços:hover {
    box-shadow: 5px 5px 0px 5px #030783;
    backdrop-filter: blur(10px);
    padding-right: 5px;
    /* Desfoca o que está atrás */
    -webkit-backdrop-filter: blur(10px);
}

#contato {
    display: none;
}

#serviços:hover {
    color: blue;
}

#sobre {
    padding-right: 35px;
    backdrop-filter: blur(10px);
    /* Desfoca o que está atrás */
    -webkit-backdrop-filter: blur(10px);
    /* Suporte para Safari */
    border: none;
    font-size: 28px;
    letter-spacing: 4px;
}

#sobre:hover {
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
}

header {
    background-color: transparent;

    display: flex;

    width: 100%;

    height: 1px
}


header h1 {
    color: white;
    position: relative;
    top: 60px;
    left: 50px;
    cursor: pointer;
    font-size: 27px;
    letter-spacing: 2px;
    transition: all ease-in-out 0.3s;
    width: 300px;
}

header h1:hover {
    transform: scale(1.6);

    transition: all ease-in-out 0.5s;
    cursor: pointer;
    font-size: 25px;
    width: 300px;
    position: relative;
    left: 150px;
    color: rgb(14, 20, 191);
    height: 80px;
    backdrop-filter: blur(10px);
    /* Desfoca o que está atrás */
    -webkit-backdrop-filter: blur(10px);
    /* Suporte para Safari */
    border: none;
    border-radius: 5px;
}


header a {
    text-decoration: none;
}

nav ul {
    display: flex;
}

main {

    height: 1000px;
}

nav ul li {
    padding-left: 43px;
    color: white;
    list-style: none;
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    top: 60px;
    left: 900px;
    transition: all ease-in-out 0.3s;
}

nav ul li:hover {
    transform: scale(1.4);

    transition: all ease-in-out 0.3s;
    cursor: pointer;
    border-radius: 10px;
    color: blue;
    text-shadow: 40px 12px 3px #000000;
}

.imgfundo {
    width: 500px;
    height: 500px;
    border-bottom: 5px;
    transition: all ease-in-out 0.3s;
    border-radius: 2px;
}

.imgfundo:hover {
    transform: scale(1.1);

    transition: all ease-in-out 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    background-color: black;
    height: 180px;
    width: 100%;
    display: flex;
}

/*  zap e email abaixo */

/* texto zap */
footer .p2 {
    color: white;
    font-size: 25px;
    position: relative;
    left: 150px;
    cursor: pointer;
    top: 40px;
    letter-spacing: 2px;
    transition: all ease-in-out 0.3s;
    text-decoration: none;

}

footer .p2:hover {
    font-size: 30px;
    letter-spacing: 5px;
}


/* Email  texto */
footer .p3 {
    color: white;
    font-size: 25px;
    position: relative;
    left: 140px;
    cursor: pointer;
    top: 40px;
    letter-spacing: 2px;
    transition: all ease-in-out 0.3s;
}

/* texto insta */

footer .p4 {
    color: white;
    font-size: 25px;
    position: relative;
    left: 140px;
    cursor: pointer;
    top: 40px;
    letter-spacing: 2px;
    transition: all ease-in-out 0.3s;
}




footer .p4:hover {
    font-size: 30px;
    letter-spacing: 5px;
}





footer .p3:hover {
    font-size: 25px;
    letter-spacing: 5px;
}

/*zap e email acima*/
.dzap {
    width: 500px;

}

.demail {
    width: 500px;

}

.dinsta {
    width: 500px;

}

.imgzap {
    width: 70px;
    height: 70px;
    position: relative;
    left: 100px;
    cursor: pointer;
    top: 30px;
}

.imgemail {
    width: 70px;
    height: 70px;
    position: relative;
    left: 80px;
    cursor: pointer;
    top: 30px;
    ;
}

.imginsta {
    width: 70px;
    height: 70px;
    position: relative;
    left: 80px;
    cursor: pointer;
    top: 30px;
    ;
}






/*          ABAIXO É A PAGINA SOBRE                ABAIXO É A PAGINA SOBRE                                            */
.bmenu {
    position: relative;
    top: 30px;
    left: 90%;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 28px;
    letter-spacing: 2px;
    background-color: transparent;
    color: white;
    border: none;
    transition: all ease-in-out 0.3s;

}

.bmenu:hover {
    cursor: pointer;
    font-size: 30px;
    transform: scale(1.8);

    transition: all ease-in-out 0.5s;
    backdrop-filter: blur(10px);
    /* Desfoca o que está atrás */
    -webkit-backdrop-filter: blur(10px);
    letter-spacing: 4px;
    /* Suporte para Safari */
    border: none;
}

.mainpg2 {
    height: 100vh;
}

.mainpg2 .ppg2 {
    color: rgb(251, 247, 247);
    width: 550px;
    height: 530px;
    padding: 10px 0px 0px 10px;
    font-size: 23px;
    position: relative;
    left: 75px;
    letter-spacing: 3px;
    top: 60px;
    transition: all ease-in-out 0.3s;
    background: rgba(143, 141, 141, 0.2);
    /* Fundo semi-transparente */
    backdrop-filter: blur(10px);
    /* Desfoca o que está atrás */
    -webkit-backdrop-filter: blur(10px);
    /* Suporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}




.mainpg2 .ppg2:hover {
    transform: scale(1.4);

    transition: all ease-in-out 0.5s;
    cursor: pointer;
    font-size: 27px;
    width: 1000px;
    position: relative;
    left: 280px;

    height: 370px;
    color: white;
    backdrop-filter: blur(50px);
    /* Desfoca o que está atrás */
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(121, 119, 119, 0.3);
}

.footersobre {
    background-color: black;
    width: 100%;
    height: 50px;
}


.footersobre .psobre {
    color: white;
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 25px;
    background-color: black;height: 10px;
}